.c__propensity-logo {
  max-width: 200px;
  height: auto;
  margin-bottom: 45px;
}

/* ----------
Divider
----------*/
.g__divider {
  margin: 20px 0;
  width: 100%;
}
.g__divider h3 {
  font-style: normal;
  font-size: 16px;
  width: 100%;
  text-align: center;
  color: var(--neutral-500);
  border-bottom: 1px solid var(--neutral-500);
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.g__divider h3 span {
  background: #f5f5f5;
  padding: 0 10px;
}
/* ----------
SSO Link
----------*/
.g__circle-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 30px;
  border: 1px solid #b4b4b4;
  transition: background 0.5s ease;
}
.g__circle-link:hover {
  background: #f7f7f7;
  text-decoration: none;
  border: 1px solid #b4b4b4;
}
.g__circle-link:active {
  background: #ebebeb;
  border: 1px solid #b4b4b4;
}
.g__sso-link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 15px 45px;
  margin: 0;
}
.g__sso-logo {
  font-family: "hero-new, sans-serif";
  font-weight: 400;
  width: auto;
  height: 25px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  z-index: 15;
}
p.g__sso-text {
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 15px;
  margin-bottom: 0;
  text-decoration: none;
  font-size: 14px;
}
p.g__google-text {
  color: #101010;
}
/* ----------
Form Styles
----------*/
#form__sign-in .g__form_field.g__auth-field {
  display: flex;
  padding: 8px 0;
}
#form__sign-in .g__form_field.g__auth-field input {
  flex: 1;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px;
  border: 1px solid var(--neutral-200);
  padding: 15px 20px;
  color: var(--neutral-500);
}
#form__sign-in .g__form_field.g__auth-field input:focus {
  border: 1px solid #5d50e6;
}
#form__sign-in #g__submit_cancel #g__submit_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 48px;
  width: 100%;
  margin: 15px 0;
  border-radius: 50px;
  background: var(--primary);
  transition: all 2s;
}
#form__sign-in #g__submit_cancel #g__submit_btn:hover {
  background: var(--primary-400);
}
#form__sign-in #g__submit_cancel #g__submit_btn:active {
  background: var(--primary-700);
}
