/* ----------
Password Validator
----------*/
.a__email-req-list {
  display: flex;
  flex-wrap: wrap;
}
.a__validate-item {
  flex: 2 0 45%;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #5d5d5d;
  margin: 5px;
}
.a__circle-indicator {
  font-size: 10px;
  margin-right: 10px;
  color: #bfbfbf;
}
