.g__granite-picklist .g__filter-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 0.8rem;
  color: #5d5d5d;
  cursor: pointer;
}
.g__granite-picklist select {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  max-width: 225px;
  font-size: 0.8rem;
  border-radius: 5px;
  border: 1px solid var(--neutral-50);
  color: var(--neutral-500);
  cursor: pointer;
  background: var(--primary-10);
  padding: 7px 5px;
  line-height: 1.1;
}
