<form id="a__f9d7b831fd1c2bf582af" method="POST" action="/primary_audience" class=" " enctype="application/x-www-form-urlencoded">
	<h1 class="a__form_header text-center" style="font-size: 40px">ABM Connected Website Settings</h1>
	<div class="form-description" style="font-size: 20px">Choose the primary audience for your ABM Connected Website below. This audience will be used to match against your website visitors to provide you with a daily lead list.</div>

	<div class="row">
		<div class="col-md">
			<div class="form-group">
				<style></style>
				<div class="a__input_select_wrapper">
					<label for="a__0a973768842f1729a3340ec07f2a97e7" title="Primary Audience" class="pr-2">Primary Audience*</label>
					<div class="input-group">
						<select form_id="a__f9d7b831fd1c2bf582af" id="a__0a973768842f1729a3340ec07f2a97e7" data-placeholder="Select an Option" style="display: none" name="primary_audience" class="custom-select required">
							<option></option>
							<option value="a2bJw000000DTx3IAG">Startups 04.10.23</option>
							<option value="a2bJw000000DXSnIAO">Logistic services for ecommerce</option>
							<option value="a2bJw000000DhtZIAS">Cybersecurity</option>
							<option value="a2bJw000000DhvBIAS">Business Services</option>
							<option value="a2bJw000000Di01IAC">1 Cybersecurity + Marketing Themes</option>
							<option value="a2bJw000000DlU9IAK">Fintechs/Legal/HR</option>
							<option value="a2bJw000000DlVlIAK">Agencies</option>
							<option value="a2bJw000000DlltIAC">Database</option>
							<option value="a2bJw000000DmI9IAK">Business Services Duplicate</option>
							<option value="a2bJw000000DmJlIAK">1 Software BI + Marketing Themes</option>
							<option value="a2bJw000000DmjaIAC">1 Logistics + Marketing Themes</option>
							<option value="a2bJw000000EtPdIAK">1 Cybersecurity: keywords + signals</option>
							<option value="a2bJw000000EtRFIA0">1 Logistics: keywords + signals</option>
							<option value="a2bJw000000F6ecIAC">1 Cloud: keywords + signals</option>
							<option value="a2bJw000000G7wnIAC">Cybersecurity Test</option>
							<option value="a2bJw000000GC0PIAW">Cybersecurity test 2</option>
							<option value="a2bJw000000HJuHIAW">Marketing Agencies Targeting</option>
							<option value="a2bJw000000HKojIAG">Healthcare</option>
							<option value="a2bJw000000HKrxIAG">Software companies - July 2023</option>
							<option value="a2bJw000000HP8TIAW">Propensity - Master Registration List - Copy of Sheet0.csv</option>
							<option value="a2bJw000000HzIPIA0">LGBT healthcare</option>
							<option value="a2bJw000000ITTNIA4">Propensity ABM - Marketers last 8 months</option>
							<option value="a2bJw000000IlrhIAC">Sales new to the job - August 2023</option>
							<option value="a2bJw000000KIwrIAG">HealthLaunchPad Equum Test 2</option>
							<option value="a2bJw000000KJg1IAG">Weekday Account List</option>
							<option value="a2bJw000000MPKjIAO">1902 demo v2</option>
							<option value="a2bJw000000MPMLIA4">1902 demo v2</option>
							<option value="a2bJw000000MPNxIAO">1902 demo v2</option>
							<option value="a2bJw000000N6MTIA0">Saifr Account List</option>
							<option value="a2bJw000000NLDRIA4">CrushBank's demo</option>
							<option value="a2bJw000000NLF3IAO">CrushBank's demo</option>
							<option value="a2bJw000000Nt73IAC">Similarweb Account List</option>
							<option value="a2bJw000000OCRWIA4" selected="">Propensity Intent Connected Website Audience</option>
							<option value="a2bJw000000OL4vIAG">Test Audience</option>
							<option value="a2bJw000000Pvr7IAC">Test Data</option>
							<option value="a2bJw000000PvsjIAC">Test Data</option>
							<option value="a2bJw000000QAOjIAO">Software companies - July 2023</option>
							<option value="a2bJw000000Qd0vIAC">test</option>
							<option value="a2bJw000000Qd2XIAS">!! test account matching</option>
							<option value="a2bJw000000RPNJIA4">Test</option>
							<option value="a2bJw000000RaU1IAK">Bean Test</option>
							<option value="a2bJw000000SdcjIAC">Propensity ABM - Marketers last 8 months</option>
							<option value="a2bJw000000Sf3RIAS">Propensity - Agency Target Accounts</option>
							<option value="a2bJw000000Sj73IAC">Reconext</option>
						</select>
						<div class="chosen-container chosen-container-single required chosen-with-drop chosen-container-active" title="" id="a__0a973768842f1729a3340ec07f2a97e7_chosen" style="width: 510px">
							<a class="chosen-single">
								<span>Propensity Intent Connected Website Audience</span>
								<div><b></b></div>
							</a>
							<div class="chosen-drop">
								<div class="chosen-search">
									<input class="chosen-search-input" type="text" autocomplete="off" />
								</div>
								<ul class="chosen-results">
									<li class="active-result" data-option-array-index="1">Startups 04.10.23</li>
									<li class="active-result" data-option-array-index="2">Logistic services for ecommerce</li>
									<li class="active-result" data-option-array-index="3">Cybersecurity</li>
									<li class="active-result" data-option-array-index="4">Business Services</li>
									<li class="active-result" data-option-array-index="5">1 Cybersecurity + Marketing Themes</li>
									<li class="active-result" data-option-array-index="6">Fintechs/Legal/HR</li>
									<li class="active-result" data-option-array-index="7">Agencies</li>
									<li class="active-result" data-option-array-index="8">Database</li>
									<li class="active-result" data-option-array-index="9">Business Services Duplicate</li>
									<li class="active-result" data-option-array-index="10">1 Software BI + Marketing Themes</li>
									<li class="active-result" data-option-array-index="11">1 Logistics + Marketing Themes</li>
									<li class="active-result" data-option-array-index="12">1 Cybersecurity: keywords + signals</li>
									<li class="active-result" data-option-array-index="13">1 Logistics: keywords + signals</li>
									<li class="active-result" data-option-array-index="14">1 Cloud: keywords + signals</li>
									<li class="active-result" data-option-array-index="15">Cybersecurity Test</li>
									<li class="active-result" data-option-array-index="16">Cybersecurity test 2</li>
									<li class="active-result" data-option-array-index="17">Marketing Agencies Targeting</li>
									<li class="active-result" data-option-array-index="18">Healthcare</li>
									<li class="active-result" data-option-array-index="19">Software companies - July 2023</li>
									<li class="active-result" data-option-array-index="20">Propensity - Master Registration List - Copy of Sheet0.csv</li>
									<li class="active-result" data-option-array-index="21">LGBT healthcare</li>
									<li class="active-result" data-option-array-index="22">Propensity ABM - Marketers last 8 months</li>
									<li class="active-result" data-option-array-index="23">Sales new to the job - August 2023</li>
									<li class="active-result" data-option-array-index="24">HealthLaunchPad Equum Test 2</li>
									<li class="active-result" data-option-array-index="25">Weekday Account List</li>
									<li class="active-result" data-option-array-index="26">1902 demo v2</li>
									<li class="active-result" data-option-array-index="27">1902 demo v2</li>
									<li class="active-result" data-option-array-index="28">1902 demo v2</li>
									<li class="active-result" data-option-array-index="29">Saifr Account List</li>
									<li class="active-result" data-option-array-index="30">CrushBank's demo</li>
									<li class="active-result" data-option-array-index="31" style="">CrushBank's demo</li>
									<li class="active-result" data-option-array-index="32">Similarweb Account List</li>
									<li class="active-result result-selected" data-option-array-index="33" style="">Propensity Intent Connected Website Audience</li>
									<li class="active-result" data-option-array-index="34">Test Audience</li>
									<li class="active-result" data-option-array-index="35">Test Data</li>
									<li class="active-result" data-option-array-index="36">Test Data</li>
									<li class="active-result" data-option-array-index="37">Software companies - July 2023</li>
									<li class="active-result" data-option-array-index="38">test</li>
									<li class="active-result" data-option-array-index="39">!! test account matching</li>
									<li class="active-result" data-option-array-index="40">Test</li>
									<li class="active-result" data-option-array-index="41">Bean Test</li>
									<li class="active-result" data-option-array-index="42">Propensity ABM - Marketers last 8 months</li>
									<li class="active-result" data-option-array-index="43">Propensity - Agency Target Accounts</li>
									<li class="active-result" data-option-array-index="44">Reconext</li>
								</ul>
							</div>
						</div>
						<div class="input-group-append a__select_append">
							<label class="input-group-text"><i class="fal fa-angle-down a__select_arrow" aria-hidden="true"></i></label>
						</div>
					</div>
					<div class="invalid-feedback">Example invalid custom select feedback</div>
				</div>
			</div>
			<script>
				// CONVERT SELECT TO CHOSEN SELECT
				$(document).ready(function () {
					$("#a__0a973768842f1729a3340ec07f2a97e7").chosen();
					// ADD REQUIRED CLASS
					$("#a__0a973768842f1729a3340ec07f2a97e7_chosen").addClass("required");
					// IDENTIFY THE DROPDOWN ARROW
					var a__0a973768842f1729a3340ec07f2a97e7_arrow = $("#a__0a973768842f1729a3340ec07f2a97e7_chosen").siblings(".a__select_append").find(".input-group-text");
					// UNFLIP ARROW ON FOCUS OUT OF CHOSEN SELECT CONTAINER
					$("#a__0a973768842f1729a3340ec07f2a97e7_chosen")
						.parent()
						.on("focusout", function () {
							if (!$("#a__0a973768842f1729a3340ec07f2a97e7_chosen").hasClass("chosen-container-active")) {
								a__0a973768842f1729a3340ec07f2a97e7_arrow.removeClass("flip");
							}
						});
					// FLIP ARROW ON CLICK OF CHOSEN SELECT BAR
					$("#a__0a973768842f1729a3340ec07f2a97e7_chosen .chosen-single").on("mousedown", function () {
						a__0a973768842f1729a3340ec07f2a97e7_arrow.toggleClass("flip");
					});
					$("#a__0a973768842f1729a3340ec07f2a97e7_chosen .chosen-choices").on("mousedown", function (e) {
						if (e.target.nodeName == "UL") {
							a__0a973768842f1729a3340ec07f2a97e7_arrow.addClass("flip");
						}
					});
					// UNFLIP ARROW ON CLICK OF CHOSEN SELECT DROPDOWN
					$("#a__0a973768842f1729a3340ec07f2a97e7_chosen .chosen-drop ul").on("click", function () {
						a__0a973768842f1729a3340ec07f2a97e7_arrow.removeClass("flip");
					});
					// UNFLIP ARROW ON FOCUS OUT OF WINDOW
					$(window).blur(function () {
						a__0a973768842f1729a3340ec07f2a97e7_arrow.removeClass("flip");
					});
				});
			</script>
		</div>
	</div>

	<div class="a__button_section text-center mt-3">
		<a href="https://t-propensity-website-tracker.addapptation.com/target_audience_visitors" class="no_loader d-inline-block a__form_button_container">
			<button tabindex="-1" type="button" class="btn btn-outline-info py-2 a__form_button">Cancel</button>
		</a>
		<a class="no_loader d-inline-block a__form_button_container">
			<button type="submit" id="submit-a__f9d7b831fd1c2bf582af" class="btn btn-outline-primary py-2 a__form_button">Submit</button>
		</a>
	</div>
</form>
