<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <div id="navigation__main-container"></div>
    <main class="g__main">
      <section class="g__container g__p-25">
        <div class="g__row">
          <div class="g__col g__box-shadow g__border g__p-15 g__radius-5">
            <h3 class="g__m-0">Page Title</h3>
          </div>
      </section>
      <section class="g__container g__plr-25">
        <div class="g__row">
          <div class="g__col">
            <div id="tabs__account-settings"></div>
          </div>
        </div>
      </section>
      <section class="g__container g__p-25">
        <div class="g__row">
          <div class="g__col g__flex-column g__justify-content-center g__mt-100">
            <h3 class="g__text-center">Installed Package Coming Soon</h3>
            <p class="g__text-center">Please try again later.</p>
            <p class="g__text-center">Thank you for your patience!</p>
          </div>
        </div>
      </section>
    </main>
    <script
      src="https://kit.fontawesome.com/58afd790b4.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>